.mainHead h1{
	/*#797979*/
	background-color: #122333;
	height: 35px;
	border-radius: 20px;
	
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	color: #FFFFFF;
	text-align: center;
}

.sideInfo{
	width: 25%;
	float: left; /*Changed to right from left*/
	margin: 1% 0% 1% 0%; 
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	background-color: #f8f8f8;
	padding-bottom: 25px;
}


.mainFooter{
	width: 100%;
	float: left;
	margin-bottom: 2%;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	background-color: #C0C0C0;
}