
<link rel="stylesheet" href="/static/polls/question.css" type="text/css"/>

<h1>{{ poll.question }}</h1>

<!-- <ul>
{% for choice in poll.country_set.all %}
    <li>{{ choice.choice_text }}</li>
{% endfor %}
</ul> -->



{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' poll.id %}" method="post">

{% csrf_token %}

<p>Please enter your name:
	<input type="text" name="name" size="15" maxlength="30" />
</p>

<p>Please choose a country</p>

<select name = "choice">
{% for choice in poll.country_set.all %}
	
	<option value="{{ choice.id }}" >{{ choice.choice_text }}</option>
	
    <!-- <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br /> -->
{% endfor %}
</select>
<input type="submit" value="Vote" />
</form>

<!--
<ul>
{% for country in poll.choice_set.all %}
	<li>{{ country.choice_text }}</li>
{% endfor %}
</ul>

-->
