<!DOCTYPE html>

<html>

	<head>
		<title>Poll Map</title>
		<meta charset = "utf-8" />
		<link rel="stylesheet" href="/static/polls/poll.css" type="text/css"/>
		<script src="http://maps.google.com/maps/api/js?sensor=false"
		type="text/javascript"></script>
		
		<script>
        function initialize(){
			geocoder = new google.maps.Geocoder(); //instance of geocoder
			var myCenter=new google.maps.LatLng(47,2); //instance of latitude and longitude
			
            var mapOptions = {
				
                center: new google.maps.LatLng(0, 0), //center of map set to middle
                zoom: 2,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
            };
            map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions); //instance of map
			
			{% for country in country_list %} //loop through countries
				{% if country.votes > 0 %} //if it has been voted for
					codeAddress("{{country.choice_text}}", "{{name_list.name}}"); //call function and pass string and django template tag
				{% endif %} //end if
			{% endfor %} //end for
				
				
			}
			
			
			
			function codeAddress(address)
			{
				geocoder.geocode({address:address}, function(results, status) //geocode address
				{
					if( status == google.maps.GeocoderStatus.OK) //if it receives ok
					{
						map.setCenter(results[0].geometry.location); 
						
						var marker = new google.maps.Marker(
						{
							map:map,
							position: results[0].geometry.location, //place marker at location
							animation: google.maps.Animation.BOUNCE
						});
						
						var infowindow = new google.maps.InfoWindow({
							content:address,
						});
						
						google.maps.event.addListener(marker, 'click', function() {
							infowindow.open(map,marker);
						});
						
						
					} else{
						alert('Geocode was not succesful for the following reason: ' + status);
					}
				});
			}
			
        google.maps.event.addDomListener(window, 'load', initialize);
        </script>
	</head>
	
	<body class = "body">
		<header class = "mainHead">
			<h1> DATA VISUALIZATION OF POLL DATA </h1>
		</header>
		{% for poll in poll_list %}
			<li><h3><a href="{% url 'polls:detail' poll.id %}">Vote here</a></h3></li>
		{% endfor %}
		
		<aside class="sideInfo">
		<article>
			<h3>Voters</h3>
			{% if name_list %}
				{% for name in name_list %}
					<p> {{name.name}} voted for {{name.vote}} </p>
				{% endfor %}
			{% else %}
				<p>No people have voted yet.</p>
			{% endif %}
		</article>
		</aside>
		
		<div id = "map-canvas" style="height:700px;width:70%; float: right; padding: 2% 2%;margin: 1% 0% 1% 0%;">
		</div>	
			
		<aside class="sideInfo">
		<article>
			<h3>Poll results</h3>
			{% for country in country_list %}
				{% if country.votes > 0 %}
				<p> {{country.choice_text}} {{country.votes}}</a></p>
				{% endif %}
			{% endfor %}
		</article>
		</aside>
		
		
	</body>
</html>